:host {
    position: relative;
    display: block;
}

img,
video {
    position: relative;
    width: 100%;
}

.c-hero-center-default,
.c-hero-center-left {
    top: 30%;
    left: 10%;
}

.c-hero-center-right {
    top: 30%;
    right: 10%;
}

div {
    background-color: black;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
