.slds-card {
    background: rgb(243, 242, 242);
}

.search-bar {
    display: block;
    margin: 0 0.5rem 0.3rem 0.5rem;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

c-product-tile {
    min-width: 200px;
    flex: 1;
}

c-paginator {
    display: block;
}